<!-- это index.html.erb -->
<div class="container">
    <!-- форма создания вопроса -->
    <div>
        <%= render 'form', variable: @question %>
    </div>

    <!-- показать кол-во всех вопросов с изменением окончанием слова на -а -ов (хелпер-функция inclination) -->
   <h1 class="title_lg mb mt">
        <!--Все вопросы:-->
        
        <p>
            Всего: <%= @questions.count %> <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
        </p>
   </h1>

   <!-- вместо цикла вывода всех вопросов-->
    <% @questions.each do |abc| %>
        <div class="mt-sm container">
            <%= render abc %>
        </div>  
    <% end %>
    
    <!-- кнопка создать новый вопрос -->
    <p class="mt"><%= link_to "Создать новый вопрос", "/questions/new", class: "button button-main" %></p>
</div>