<div class="container">
    <h1 class="title_lg mb">Новый вопрос</h1>

    <%= form_with model: @question do |f| %>
        <p> <%= f.label :body, 'Вопрос' %> </p>
        <p> <%= f.text_area :body, rows: 5, class: "form-text-area" %></p>

        <p class="mt"> <%= f.label :user_id, 'Кому:' %> </p>
        <p> <%= f.text_field :user_id, class: "form-text-field" %> </p>

        <p class="mt"><%= f.submit 'Создать', class: "button button-main" %></p>
    <% end %>
</div>