<%# это edit users %>

<div class="container">
    <h2 class="title">Редактирование пользователя</h2>

    <!-- проверка на ошибку, если она хоть что-то содержит -->
    <% if @user.errors.any? %>
        <div class="mt">
            <% @user.errors.full_messages.each do |message| %>
                <p class="mb-sm text-red"><%= message %></p>
            <% end %>
        </div>  
    <% end %>

    <div class="mt">
        <%= form_with model: @user, data: {turbo: false} do |f| %>
            <!-- имя пользователя -->
            <p><%= f.label :name, 'Ваше имя:' %> </p>
            <p><%= f.text_field :name, class: 'form-text-field' %></p>

            <!-- никнейм -->
            <p class="mt"><%= f.label :nickname, 'Ваш nickname:' %> </p>
            <p><%= f.text_field :nickname, class: 'form-text-field' %></p>

            <!-- почта -->
            <p class="mt"><%= f.label :email, 'Ваша почта:' %> </p>
            <p><%= f.text_field :email, class: 'form-text-field' %></p>
            
            <p class="mt-lg text-sm"> Если не хочешь менять пароль, то оставь его пустым. </p>
            <!-- пароль. Он не password_digest, т.к. в модели User есть has_secure_password и как раз он генерирует поле в БД password -->
            <p class="mt"><%= f.label :password, 'Ваш новый пароль:' %> </p>
            <p><%= f.password_field :password, class: 'form-text-field' %></p>

            <!-- пароль. Он не password_digest, т.к. в модели User есть has_secure_password и как раз он генерирует поле в БД password -->
            <p class="mt"><%= f.label :password_confirmation, 'Повторите пароль:' %> </p>
            <p><%= f.password_field :password_confirmation, class: 'form-text-field' %></p>

            <p class="mt-lg">
                <%= f.submit 'Сохранить', class: 'button button-main' %>
                <span class="text-sm"> <%= link_to 'Вернуться', :back %> </span>
            </p>
        <% end %>
    </div>

    <!-- кнопка удаления -->
    <div class="mt-lg">
        <%= button_to 'Удалить пользователя', user_path(@user), method: :delete,
        form: {data: {turbo_confirm: 'Вы точно хотите удалить пользователя?'}},
        class: 'text-red text-sm' %>
    </div>
</div>