<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ruby Backend Train" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- класс app-body сам придумал -->
    <div class="app-body">
      <!-- навигационная панель -->
      <div class="navbar mb">
        <!-- название сайта -->
        <p class="title-sm text-bold"> <%= link_to "Ask me!", root_path %> </p>

        <div> 
          <!-- Если пользователь залогинился -->
          <% if current_user.present? %>
            <!-- вывести имя пользователя -->
            <%= "@#{current_user.nickname}" %>
            <!-- кнопка выйти-->
            <%= button_to 'Выйти', session_path, method: :delete, class: 'button button-main mt-sm' %>
          <!-- Если пользователя не залогинился -->
          <% else %>
            <!-- Показать кнопку регитсрации -->
            <%= link_to 'Регистрация', new_user_path, class: 'button button-yellow mr-sm' %>
            <!-- Показать кнопку входа -->
            <%= link_to 'Вход', new_session_path, class: 'button button-yellow' %>
          <% end %>
        </div>
      </div>
      <!-- КОНЕЦ навигационная панель -->

      <!-- Используем flash для уведомления пользователя -->
      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"> <%= flash[:notice] %> </p>
      <!-- если что-то пошло не так, то вывести alert -->
      <% elsif flash[:alert].present? %>
        <p class="mb message message-alert"> <%= flash[:alert] %> </p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
